{% load static %}
{% load foe_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CellML online scratch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head_includes %}
        <link href="{% foe_static_repo 'bootstrap/3.3.6/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% foe_static_repo 'font-awesome/4.3.0/css/font-awesome.min.css' %}" rel="stylesheet"
              type="text/css">
        <link href="{% foe_static_repo 'datatables/1.10.11/css/dataTables.bootstrap.min.css' %}" rel="stylesheet"
              type="text/css">

        <!-- this makes rows in tables clickable -->
        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">

        <script src="{% foe_static_repo 'jquery/2.2.0/jquery-2.2.0.min.js' %}" type="text/javascript"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}?124358727372">

    {% endblock head_includes %}
</head>

<body>

<div class="container-fluid nav-style">
    {% block navigation %}
        <nav class="nav-style navbar-default navbar-top nav-style" id="allNav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse nav-style" id="myNavbar">
                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav navbar-left ">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'main:home' %}">{{ user.person.first_name|upper }}'S
                                    HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'main:upload' %}">UPLOAD</a>
                            </li>

                            {% if menu.create|length %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        CREATE <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for t, name in menu.create.items %}
                                            <li><a href="{% url 'main:create' item_type=t %}">{{ name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                            {% if menu.browse|length %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        BROWSE <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for t, name in menu.browse.items %}
                                            <li><a href="{% url 'main:browse' item_type=t %}">{{ name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {#                        <li class="nav-item"><a class="nav-link" onclick="alert('not working yet');">HELP</a></li>#}
                            <li class="nav-item"><a class="nav-link" href="{% url 'main:logout_view' %}">LOG OUT</a>
                            </li>
                        </ul>

                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a class="nav-link" href="{% url 'main:login_view' %}">LOG IN</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'main:register' %}">REGISTER</a></li>
                        </ul>

                    {% endif %}
                </div>


            </div>
        </nav>
    {% endblock navigation %}
</div>
<div class="container-fluid todo">{% block todo %}{% endblock todo %}</div>
<div class="container-fluid">{% block messages %}{% if messages %}{% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}
{% endif %}{% endblock messages %}</div>
<div class="container-fluid" id="main_container">
    <div class="row">
        <div class="col-sm-8">
            <h1>{% block title %}{% endblock title %}</h1>
        {% if item %}
            <span class="privacy-{{ item.privacy }}"><b>Privacy:</b> {{ item.privacy|title }}{% if not can_change_privacy %} (inherited){% endif %}</span>
        {% endif %}
        </div>
        <div class="col-sm-4 button_bar">
            {% block title_buttons %}
                <div class="button_bar" style="padding-top:15px;">
                    {% if item %}
                        {% if can_edit %}
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i> Actions ...
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a onclick="LoadModalData('Edit information','{% url 'main:edit_locals' item_type=item_type item_id=item.id %}');"
                                           data-toggle="modal"
                                           data-target="#formModal"
                                           style="text-decoration: none;">
                                            Edit information
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="LoadModalData('Create a copy?','{% url 'main:copy' item_type=item_type item_id=item.id %}');"
                                           data-toggle="modal"
                                           data-target="#formModal"
                                           style="text-decoration:none;">
                                            Copy
                                        </a></li>

                                    {% if can_change_privacy %}
                                        {% if item.privacy == "public" %}
                                            <li><a onclick="SetPrivate()">
                                                <i class="fa fa-lock"></i> Set private
                                            </a></li>
                                        {% else %}
                                            <li><a onclick="SetPublic()">
                                                <i class="fa fa-unlock"></i> Set public
                                            </a></li>
                                        {% endif %}
                                    {% endif %}

                                    <li>
                                        <a onclick="LoadModalData('Delete?','{% url 'main:delete' item_type=item_type item_id=item.id %}');"
                                           data-toggle="modal"
                                           data-target="#formModal"
                                           style="text-decoration: none;">
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <a onclick="LoadModalData('Send a copy to your library?','{% url 'main:copy' item_type=item_type item_id=item.id %}');"
                               data-toggle="modal"
                               data-target="#formModal"
                               style="text-decoration:none;">
                                <button class="btn btn-primary"><i class="fa fa-send"></i> Send to my library</button>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endblock title_buttons %}
        </div>
    </div>
    {% block content %}{% endblock content %}
    {% block modals %}
        <div class="modal fade" id="formModal" tabindex="-1" role="dialog"
             aria-labelledby="formModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title" id="formModalTitle">Edit {{ item_type }}</h3>
                    </div>
                    <div class="modal-body">
                        <iframe id="formModal_iframe" src="" style="zoom:0.60;" width="99.6%" height="700px">
                            <h3>Please wait ... loading data ...</h3>
                        </iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock modals %}
</div>


</body>

{% block end_scripts %}
    <!-- TODO clean up the unneeded links here ... -->

    <script src="{% foe_static_repo 'bootstrap/3.3.6/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script src="{% foe_static_repo 'datatables/1.10.11/js/jquery.dataTables.min.js' %}"
            type="text/javascript"></script>
    <script src="{% foe_static_repo 'datatables/1.10.11/js/dataTables.bootstrap.min.js' %}"
            type="text/javascript"></script>

    <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"
            type="text/javascript"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"
            type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.datatables').DataTable({
                "bLengthChange": false, //thought this line could hide the LengthMenu
                "bInfo": false,
                "pageLength": 25
            });
        });

        function LoadModalData(title, url) {
            // Updating the source of the modal iframe data
            $('#formModalTitle').text(title);
            let $iframe = $('#formModal_iframe');
            if ($iframe.length) {
                $iframe.attr('src', url);
            }
        }
    </script>

{% endblock end_scripts %}

</html>
