{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block todo %}
    - make links to imported files better
{% endblock todo %}

{% block title %}Model <b>{{ model.name }}</b>{% endblock title %}
{% block title_buttons %}
    {% if can_edit %}
        <a onclick="LoadModalData('Delete?','{% url 'main:delete' item_type="cellmodel" item_id=model.id %}');"
           data-toggle="modal"
           data-target="#formModal"
           style="text-decoration: none;">
            <button class="btn btn-default pull-right"><i class="fa fa-trash"></i> Delete</button>
        </a>

        <a onclick="LoadModalData('Copy into your library?','{% url 'main:copy' item_type="cellmodel" item_id=model.id %}');"
           data-toggle="modal"
           data-target="#formModal"
           style="text-decoration: none;">
            <button class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Copy
            </button>
        </a>
    {% else %}
        <a onclick="LoadModalData('Send a copy to your library?','{% url 'main:copy' item_type="cellmodel" item_id=model.id %}');"
           data-toggle="modal"
           data-target="#formModal"
           style="text-decoration: none;">
            <button class="btn btn-primary pull-right"><i class="fa fa-send"></i> Send
            </button>
        </a>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Information</h3>
                </div>
                {% if can_edit %}
                    <div class="col-sm-6 button_bar">
                        <a onclick="LoadModalData('Edit information',
                                '{% url 'main:edit_locals' item_type="cellmodel" item_id=model.id %}');"
                           data-toggle="modal"
                           data-target="#formModal"
                           style="text-decoration: none;">
                            <button class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> Edit information
                            </button>
                        </a>
                    </div>
                {% endif %}
            </div>

            <table class="display table" id="table-info">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>CellML ID</td>
                    <td>
                        {% if model.cellml_id %}{{ model.cellml_id }}
                        {% else %}<p class="empty">None</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Owner</td>
                    <td>
                        {% if model.owner %}{{ model.owner|title }}
                        {% else %}<p class="empty">None</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Imported from</td>
                    <td>
                        {% if model.imported_from %}
                            <a href="{% url 'main:display' item_type=model.imported_from.source_type item_id=model.imported_from.source_id %}">
                                {{ model.imported_from }}
                            </a>
                        {% else %}<p class="empty">None</p>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>

            <div>{{ model.notes|linebreaks }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Components</h3>
            <table class="datatables display table table-hover" id="table-components">
                <thead>
                <tr>
                    <th>Component</th>
                    <th>Notes</th>
                </tr>
                </thead>
                <tbody class="rowlink" data-link="row">
                {% for c in model.components.all %}
                    <tr>
                        <td>
                            <a href="{% url 'main:display' item_type='component' item_id=c.id %}"></a>
                            {{ c.name }}
                        </td>
                        <td>{% if c.notes %}{{ c.notes|linebreaks }}
                        {% else %}None
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h3>Units</h3>
            <table class="datatables display table table-hover" id="table-units" cellspacing="0">
                <thead>
                <tr>
                    <th>Units</th>
                    <th>Child units</th>
                    <th>Notes</th>
                </tr>
                </thead>
                <tbody class="rowlink" data-link="row">
                {% for cu in model.compoundunits.all %}
                    <tr>
                        <td>
                            <a href="{% url 'main:display' item_type='compoundunit' item_id=cu.id %}"></a>
                            {{ cu.name }}
                        </td>
                        <td>
                            {% for u in cu.units.all %}
                                {{ u }}<br>
                            {% endfor %}
                        </td>
                        <td>{{ cu.notes|linebreaks }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block end_scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('#table-info_filter').css('display', 'none');
            $('#table-info_paginate').css('display', 'none');
        });
    </script>
{% endblock end_scripts %}

