{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ item_type|title }} <b>{{ item.name }}</b>{% endblock title %}
{% block title_buttons %}
    {% if can_edit %}
        <a onclick="LoadModalData('Delete?','{% url 'main:delete' item_type=item_type item_id=item.id %}');"
           data-toggle="modal"
           data-target="#formModal"
           style="text-decoration: none;">
            <button class="btn btn-default pull-right"><i class="fa fa-trash"></i> Delete</button>
        </a>
        <a onclick="LoadModalData('Create a copy?','{% url 'main:copy' item_type=item_type item_id=item.id %}');"
           data-toggle="modal"
           data-target="#formModal"
           style="text-decoration:none;">
            <button class="btn btn-primary">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;Copy
            </button>
        </a>
    {% else %}
        <a onclick="LoadModalData('Send a copy to your library?','{% url 'main:copy' item_type=item_type item_id=item.id %}');"
           data-toggle="modal"
           data-target="#formModal"
           style="text-decoration:none;">
            <button class="btn btn-primary">
                <i class="fa fa-send"></i>&nbsp;&nbsp;Send
            </button>
        </a>
    {% endif %}

{% endblock %}

{% block button_edit %}{% endblock button_edit %}
{% block button_new %}{% endblock button_new %}

{% block todo %}{% endblock todo %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Information</h3>
                </div>

                <div class="col-sm-6 button_bar" style="padding-top:15px;">
                    {% if can_edit %}
                        <a onclick="LoadModalData('Edit information','{% url 'main:edit_locals' item_type=item_type item_id=item.id %}');"
                           data-toggle="modal"
                           data-target="#formModal"
                           style="text-decoration: none;">
                            <button class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> Edit locals</button>
                        </a>
                    {% endif %}
                </div>


            </div>

            <p class="info"><b>Local</b> attributes are those specifically owned by this type of object, ie:
                the {{ item_type }}.
                These are distinct from links or connections to other objects, which are the <b>Externals</b> in the
                other column. You can edit the local attributes of any items which you own by clicking the <b>Edit</b>
                button at the bottom of the list.</p>
            <p class="info">
                If you need to edit the local attributes of an item which you don't own, you will need to first create
                your own copy using the <b>Create</b> page.
            </p>
            {% if item.notes %}<p>{{ item.notes|linebreaks }}</p>{% endif %}

            <table class="datatables display table" id="table-attributes">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                {% for field, obj in locals %}
                    <tr>
                        <td>{{ field }}</td>
                        <td>
                            {% if obj %}{{ obj }}
                            {% else %}<p class="empty">None</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>owner</td>
                    <td>
                        {% if item.owner %}{{ item.owner|title }}
                        {% else %}
                            <p class="empty">None</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>provenance</td>
                    <td>
                        {% if item.imported_from %}{{ item.imported_from }}
                        {% else %}
                            <p class="empty">None</p>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Relationships</h3>
                </div>
                {% if can_edit %}
                    <div class="col-sm-6 button_bar" style="padding-top:15px;">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <i class="fa fa-chain"></i> Add link to ...
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                {% for r in child_fields %}
                                    <li>
                                        <a onclick="LoadModalData('Create link',
                                                '{% url 'main:link_forwards' item_type=item_type item_id=item.id related_name=r %}'
                                                );"
                                           data-toggle="modal"
                                           data-target="#formModal"
                                           style="text-decoration: none;">
                                            {{ r|title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
            <p class="info">
                <b>Relations</b> are those parts of an item which are links to other items, ie: the children or parents
                of the current item. Clicking on a row in the table below will open the detailed description page for
                each of the related items. To remove an external connection, click the delete button on that row. To
                add a new connection, click the <b>Add new</b> button.
            </p>
            <table class="datatables display table table-hover" id="table-connections">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    {% if can_edit %}
                        <th></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody class="rowlink" data-link="row">
                {% for field, type, obj in children %}
                    {% if obj %}
                        <tr>
                            <td>
                                <a href="{% url 'main:display' item_type=type item_id=obj.id %}"></a>
                                {{ field }}
                            </td>
                            <td>{{ obj }}</td>
                            {% if can_edit %}
                                <td class="rowlink-skip">
                                    <a onclick="Unlink('{{ field }}','{{ obj.id }}');">Unlink</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td>
                                {{ field }}
                            </td>
                            <td class="empty">Not connected to any {{ field }} items</td>
                            <td></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <form id="unlink_form" action="{% url 'main:link_remove' %}" method="POST" hidden>
        {% csrf_token %}
        <input type="text" name="unlink_item_type" id="unlink_item_type" value="">
        <input type="text" name="unlink_item_id" id="unlink_item_id" value="">
        <input type="text" name="unlink_related_name" id="unlink_related_name" value="">
        <input type="text" name="unlink_related_id" id="unlink_related_id" value="">
    </form>

{% endblock content %}

{% block end_scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('#table-attributes_filter').css('display', 'none');
            $('#table-attributes_paginate').css('display', 'none');
            $('#table-information_filter').css('display', 'none');
            $('#table-information_paginate').css('display', 'none');
            $('#table-connections_filter').css('width', '100%');
        });

        function Unlink(related_name, related_id) {
            $('input[name="unlink_item_type"]').val("{{ item_type }}");
            $('input[name="unlink_item_id"]').val("{{ item.id }}");
            $('input[name="unlink_related_name"]').val(related_name);
            $('input[name="unlink_related_id"]').val(related_id);
            $("form#unlink_form ").submit();
        }
    </script>
{% endblock end_scripts %}