{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load foe_tags %}

{% block title %}{{ item_type }} <b>{{ item.name }}</b>{% endblock title %}

{% block todo %}{% endblock todo %}


{% block tabs %}
    {{ block.super }}
    <ul class="nav nav-tabs">
        <li id="tab_information1" class="active"><a data-toggle="tab" href="#tab_information">Summary</a></li>
        <li><a id="tab_validity1" data-toggle="tab" href="#tab_validity">Validity and checking</a></li>
        {% for field, obj_type, objs, title, template in data %}
            <li><a id="tab_{{ field }}1" data-toggle="tab" href="#tab_{{ field }}">{{ title }}</a></li>
        {% endfor %}
    </ul>
{% endblock tabs %}


{% block content %}
    <div class="tab-content">
        <div id="tab_information" class="tab-pane fade in active">
            <br>
            <div class="col-md-12">
                <table class="datatables display table" id="table-information">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Field</th>
                        <th>Value</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody class="rowlink" data-link="row">
                    {% for field, obj, errors in locals %}
                        <tr class="validity_{{ errors|length_is:0 }}">
                            <td>
                                <a onclick="LoadModalData(
                                            'Edit {{ field }}',
                                            '{% url 'main:edit_field' item_type=item_type item_id=item.id item_field=field %}'
                                            );"
                                       data-toggle="modal"
                                       data-target="#formModal"></a>
                                <span class="validity_icon_{{ errors|length_is:0 }}"></span></td>
                            <td>{{ field }}</td>
                            <td>{{ obj }}</td>
                            <td>
                                {% for e in errors %}
                                    {{ e.hints|safe }}&nbsp;&nbsp;
                                    <a onclick="LoadModalData(
                                            'Edit {{ field }}',
                                            '{% url 'main:edit_field' item_type=item_type item_id=item.id item_field=field %}'
                                            );"
                                       data-toggle="modal"
                                       data-target="#formModal"
                                       style="text-decoration:none;"> Fix it
                                    </a>
                                    <br>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td></td>
                        <td>owner</td>
                        <td colspan="3">
                            {% if item.owner %}{{ item.owner|title }}
                            {% else %}
                                <p class="empty">None</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>provenance</td>
                        <td colspan="3">
                            {% if item.imported_from %}{{ item.imported_from }}
                            {% else %}
                                <p class="empty">None</p>
                            {% endif %}
                        </td>
                    </tr>

                    {% for field_name, obj_type, obj, title in foreign_keys %}
                        <tr class="validity_{{ obj.is_valid }}">
                            <td><span class="validity_icon_{{ obj.is_valid }}"></span></td>
                            <td>
                                {{ title|lower }}
                            </td>
                            <td colspan="2">
                                {% if obj is not None %}
                                    <a href="{% url 'main:display' item_type=obj_type item_id=obj.id %}">
                                        <div class="validity_{{ obj.is_valid }}">
                                            {{ obj.name }}
                                        </div>
                                    </a>
                                {% else %}
                                    <p class="empty">None</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    {% for field_name, obj_type, objs, title in present_in %}
                        <tr>
                            <td></td>
                            <td>
                                {{ title|lower }}
                            </td>
                            <td>
                                {% for obj in objs.all %}
                                    <a href="{% url 'main:display' item_type=obj_type item_id=obj.id %}">
                                        {{ obj.name }}
                                    </a><br>
                                {% empty %}
                                    <p class="empty">None</p>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        <div id="tab_validity" class="tab-pane fade">
            <div class="button_bar">
                <button id="validity_div" class="btn btn-secondary validity_banner_{{ item.is_valid }}">
                    <span id="status_span"><b>Last checked: </b>{{ item.last_checked }}</span>
                </button>

                <button id="check_validity" class="btn btn-default">
                    <i class="fa fa-refresh"></i> Check validity
                </button>
            </div>
            <br>

            <div class="col-md-12">
                <div id="progress_holder_id" class="progress hidden">
                    <div id="progress_bar_id" class="progress-bar" role="progressbar" style="width: 0;"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="{{ item.child_list.list_length }}">
                        0%
                    </div>
                </div>

                <div id="todo_count"></div>
                <table class="display table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Item</th>
                        <th>Message</th>
                    </tr>
                    </thead>
                    <tbody class="rowlink" data-link="row" id="todolist">
                    {% if error_tree %}
                        {{ error_tree|safe }}
{#                    {% else %}#}
{#                        <p class="empty">No downstream errors found</p>#}
                    {% endif %}
                    </tbody>
                </table>
            </div>

            <div class="hidden" id="checklist">
                {{ item.child_list.html|safe }}
            </div>

        </div>

        {% for field_name, obj_type, objs, title, template in data %}
            {% include template with field_name=field_name obj_type=obj_type objs=objs title=title %}
        {% endfor %}
    </div>

    <form id="unlink_form" action="{% url 'main:link_remove' %}" method="POST" hidden>
        {% csrf_token %}
        <input type="text" name="unlink_item_type" id="unlink_item_type" value="">
        <input type="text" name="unlink_item_id" id="unlink_item_id" value="">
        <input type="text" name="unlink_related_name" id="unlink_related_name" value="">
        <input type="text" name="unlink_related_id" id="unlink_related_id" value="">
    </form>
    <form id="privacy_form" action="{% url 'main:set_privacy' %}" method='POST' hidden>
        {% csrf_token %}
        <input type="text" name="item_type" id="item_type" value="">
        <input type="text" name="item_id" id="item_id" value="">
        <input type="text" name="privacy_level" id="privacy_level" value="">
    </form>
{% endblock content %}


{% block end_scripts %}
    {{ block.super }}
    {% block datatables %}{% endblock datatables %}
    <script>
        let processed_count = 0;

        $(document).ready(function () {

            {% if item.child_list %}
                $("#check_validity").click(function (e) {
                    e.preventDefault();

                    // Populate check list
                    $('#checklist').children().addClass('validity_list_waiting');

                    // Clear the todolist
                    $('#todolist').html("");
                    $('#validity_div').removeClass().addClass('btn btn-secondary');

                    if (confirm("Really check {{ item.child_list.list_length }} items?")) {
                        processed_count = 0;
                        // Reset the progress bar
                        $('#progress_holder_id').removeClass("hidden");
                        $('#progress_bar_id').width("0%");
                        $('#status_span').html("<b>Checking now ... </b>");
                        ProcessCheckList();
                    }
                });

            {% endif %}
        });


        {% if item.child_list %}
            function ProcessCheckList() {
                // jQuery on an empty object, we are going to use this as our Queue
                let ajaxQueue = $({});
                $.ajaxQueue = function (ajaxOpts) {
                    let jqXHR,
                        dfd = $.Deferred(),
                        promise = dfd.promise();
                    ajaxQueue.queue(doRequest);
                    promise.abort = function (statusText) {
                        if (jqXHR) {
                            return jqXHR.abort(statusText);
                        }
                        let queue = ajaxQueue.queue(),
                            index = $.inArray(doRequest, queue);
                        if (index > -1) {
                            queue.splice(index, 1);
                        }
                        dfd.rejectWith(ajaxOpts.context || ajaxOpts,
                            [promise, statusText, ""]);
                        return promise;
                    };

                    function doRequest(next) {
                        jqXHR = $.ajax(ajaxOpts)
                            .then(next, next)
                            .done(dfd.resolve)
                            .fail(dfd.reject);
                    }

                    return promise;
                };

                $(".validity_list_waiting").each(function (e) {
                    let my_split = $(this).attr('id').split('__');
                    $.ajaxQueue({
                        url: '/ajax_validate/',
                        data: {
                            item_type: my_split[0],
                            item_id: my_split[1],
                        },
                        type: 'GET',
                        context: this,
                        success: function (data) {
                            processed_count = processed_count + 1;
                            $(this).removeClass("validity_list_waiting").addClass(data['style']);
                            $(this).html("");

                            let percentage = String(Math.floor(
                                processed_count * 100 / {{ item.child_list.list_length }}
                            )) + "%";

                            $('#progress_bar_id').width(percentage).text(percentage);
                            $('#todolist').prepend(data['html']);

                            // Check whether this was the last one
                            let to_check = $('.validity_list_waiting').length;
                            let to_do = $('.validity_list_False').length;

                            $('#todo_count').text(to_do + " items to fix");

                            if (to_check === 0) {
                                // Remove the valid items from the todo list and leave only the errors
                                $('.validity_list_True').fadeOut();
                                // Update the status
                                if (to_do === 0) {
                                    $("#validity_div").addClass('validity_banner_True');
                                } else {
                                    $("#validity_div").addClass('validity_banner_False');
                                }
                                $('#status_span').text("Done!");
                            }
                        }
                    });
                });
            }
        {% endif %}
        function Unlink(related_name, related_id) {
            $('input[name="unlink_item_type"]').val("{{ item_type }}");
            $('input[name="unlink_item_id"]').val("{{ item.id }}");
            $('input[name="unlink_related_name"]').val(related_name);
            $('input[name="unlink_related_id"]').val(related_id);
            $("form#unlink_form ").submit();
        }

        function SetPrivate() {
            $('input[name="item_type"]').val("{{ item_type }}");
            $('input[name="item_id"]').val("{{ item.id }}");
            $('input[name="privacy_level"]').val("private");
            $("form#privacy_form ").submit();
        }

        function SetPublic() {
            $('input[name="item_type"]').val("{{ item_type }}");
            $('input[name="item_id"]').val("{{ item.id }}");
            $('input[name="privacy_level"]').val("public");
            $("form#privacy_form ").submit();
        }


    </script>
{% endblock end_scripts %}