{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Compound Units <b>{{ item.name }}</b>{% endblock title %}
{% block title_buttons %}
    {% if can_edit %}
        <a onclick="LoadModalData('Delete?', '{% url 'main:delete' item_type="compoundunit" item_id=item.id %}');"
           data-toggle="modal"
           data-target="#formModal"
           style="text-decoration: none;">
            <button class="btn btn-default pull-right"><i class="fa fa-trash"></i> Delete</button>
        </a>
    {% else %}
        <a onclick="LoadModalData('Send a copy to your library?',
                '{% url 'main:copy' item_type="compoundunit" item_id=item.id %}');"
           data-toggle="modal"
           data-target="#formModal"
           style="text-decoration:none;">
            <button class="btn btn-primary">
                <i class="fa fa-send"></i>&nbsp;&nbsp;Send to my library
            </button>
        </a>
    {% endif %}
{% endblock title_buttons %}

{% block todo %}
    <br>- Show in a cleaner way than this?
    <br>- Store symbols or abbreviations for units so that they can be shown symbolically?
{% endblock todo %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Information</h3>
                </div>
                <div class="col-sm-6 button_bar" style="padding-top:15px;">
                    {% if can_edit %}
                        <a onclick="LoadModalData('Edit information',
                                '{% url 'main:edit_locals' item_type="compoundunit" item_id=item.id %}');"
                           data-toggle="modal"
                           data-target="#formModal"
                           style="text-decoration: none;">
                            <button class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> Edit information
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
            <table class="datatables display table">
                <tbody>
                <tr>
                    <td>Notes</td>
                    <td>
                        {% if item.is_standard %}<b>Built in units</b><br>{% endif %}
                        {% if item.notes %}<p>{{ item.notes|linebreaksbr }}</p>
                        {% else %}<p class="empty">No notes given</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Owner</td>
                    <td>
                        {% if item.owner %}<p>{{ item.owner|title }}</p>
                        {% else %}<p class="empty">None</p>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6 table-responsive">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Product of Units</h3>
                </div>
                {% if can_edit %}
                    <div class="col-sm-6 button_bar" style="padding-top:15px;">
                        <a onclick="LoadModalData('Create relationship to another unit',
                                '{% url 'main:create_unit' cu_id=item.id in_modal=True %}');"
                           data-toggle="modal"
                           data-target="#formModal"
                           style="text-decoration: none;">
                            <button class="btn btn-primary"><i class="fa fa-plus"></i> Add unit</button>
                        </a>
                    </div>
                {% endif %}
            </div>

            <table class="datatables display table table-hover">
                <thead>
                <tr>
                    <th>Prefix</th>
                    <th>Multiplier</th>
                    <th>Base</th>
                    <th>Exponent</th>
                    {% if can_edit %}<th></th>{% endif %}
                </tr>
                </thead>
                <tbody class="rowlink" data-link="row">
                {% for u in item.product_of.all %}
                    <tr>
                        <td>
                            <a href="{% url 'main:display' item_type='compoundunit' item_id=u.child_cu.id %}"></a>
                            {{ u.prefix }}
                        </td>
                        <td>{{ u.multiplier }}</td>
                        <td>{{ u.child_cu.name }}</td>
                        <td>{{ u.exponent }}</td>
                        {% if can_edit %}
                            <td class="rowlink-skip">
                            <a onclick="LoadModalData('Delete unit factor?','{% url 'main:delete' item_type='unit' item_id=u.id %}');"
                           data-toggle="modal"
                           data-target="#formModal">Remove</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}





