{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block todo %}
    - make links to imported files better
{% endblock todo %}

{% block title %}Model <b>{{ model.name }}</b>{% endblock title %}
{% block title_buttons %}
    {% if can_edit %}
        <a onclick="LoadModalData('Copy into your library?','{% url 'main:copy' item_type="cellmodel" item_id=model.id %}');"
           data-toggle="modal"
           data-target="#formModal"
           style="text-decoration: none;">
            <button class="btn btn-primary"><i class="fa fa-plus"></i> Copy
            </button>
        </a>
        <a onclick="LoadModalData('Delete?','{% url 'main:delete' item_type="cellmodel" item_id=model.id %}');"
           data-toggle="modal"
           data-target="#formModal"
           style="text-decoration: none;">
            <button class="btn btn-default "><i class="fa fa-trash"></i> Delete</button>
        </a>

        {% if model.privacy == "public" %}
            <a onclick="SetPrivate()">
                <button class="btn btn-primary"><i class="fa fa-lock"></i> Set private</button>
            </a>
        {% else %}
            <a onclick="SetPublic()">
                <button class="btn btn-primary"><i class="fa fa-unlock"></i> Set public</button>
            </a>
        {% endif %}
    {% else %}
        <a onclick="LoadModalData('Send a copy to your library?','{% url 'main:copy' item_type="cellmodel" item_id=model.id %}');"
           data-toggle="modal"
           data-target="#formModal"
           style="text-decoration: none;">
            <button class="btn btn-primary"><i class="fa fa-send"></i> Send
            </button>
        </a>
    {% endif %}

    <a onclick="LoadModalData('CellML2.0 markup','{% url 'main:export_model' item_id=model.id %}');"
       data-toggle="modal"
       data-target="#formModal"
       style="text-decoration:none;">
        <button class="btn btn-primary">
            <i class="fa fa-download"></i>&nbsp;&nbsp;Export
        </button>
    </a>

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Information</h3>
                </div>
                {% if can_edit %}
                    <div class="col-sm-6 button_bar">
                        <a onclick="LoadModalData('Edit information',
                                '{% url 'main:edit_locals' item_type="cellmodel" item_id=model.id %}');"
                           data-toggle="modal"
                           data-target="#formModal"
                           style="text-decoration: none;">
                            <button class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> Edit information
                            </button>
                        </a>
                    </div>
                {% endif %}
            </div>

            <table class="display table" id="table-info">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>CellML ID</td>
                    <td>
                        {% if model.cellml_id %}{{ model.cellml_id }}
                        {% else %}<p class="empty">None</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Owner</td>
                    <td>
                        {% if model.owner %}{{ model.owner|title }}
                        {% else %}<p class="empty">None</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Imported from</td>
                    <td>
                        {% if model.imported_from %}
                            <a href="{% url 'main:display' item_type=model.imported_from.source_type item_id=model.imported_from.source_id %}">
                                {{ model.imported_from }}
                            </a>
                        {% else %}<p class="empty">None</p>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
            <div>{{ model.notes|linebreaks }}</div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">

            <div class="row">
                <div class="col-md-6">
                    <h3>Components</h3>
                </div>
                <div class="col-md-6 button_bar">
                    {% if can_edit %}

                        <a onclick="LoadModalData('Create link to existing component',
                                '{% url 'main:link_backwards' item_type='cellmodel' item_id=model.id related_name='components' %}'
                                );"
                           data-toggle="modal"
                           data-target="#formModal"
                           style="text-decoration: none;">
                            <button class="btn btn-primary"><i class="fa fa-chain"></i> Link</button>
                        </a>

                        <a onclick="LoadModalData('Create new component',
                                '{% url 'main:create' item_type='component' %}'
                                );"
                           data-toggle="modal"
                           data-target="#formModal"
                           style="text-decoration: none;">
                            <button class="btn btn-primary"><i class="fa fa-plus"></i> Create</button>
                        </a>

                    {% endif %}
                </div>
            </div>


            <table class="datatables display table table-hover" id="table-components">
                <thead>
                <tr>
                    <th>Component</th>
                    {% if can_edit %}
                        <th>Notes</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody class="rowlink" data-link="row">
                {% for c in model.components.all %}
                    <tr>
                        <td>
                            <a href="{% url 'main:display' item_type='component' item_id=c.id %}"></a>
                            <b>{{ c.name }}</b> {{ c.notes|linebreaks }}
                        </td>
                        {% if can_edit %}
                            <td class="rowlink-skip">
                                <a onclick="Unlink('components','{{ c.id }}');">Unlink</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <h3>Units</h3>
                </div>
                <div class="col-md-6 button_bar">
                    {% if can_edit %}
                        <a onclick="LoadModalData('Create link to existing compound units',
                                '{% url 'main:link_backwards' item_type='cellmodel' item_id=model.id related_name='compoundunits' %}'
                                );"
                           data-toggle="modal"
                           data-target="#formModal"
                           style="text-decoration: none;">
                            <button class="btn btn-primary"><i class="fa fa-chain"></i> Link</button>
                        </a>
                        <a onclick="LoadModalData('Create new compound units',
                                '{% url 'main:create' item_type='compoundunit' %}'
                                );"
                           data-toggle="modal"
                           data-target="#formModal"
                           style="text-decoration: none;">
                            <button class="btn btn-primary"><i class="fa fa-plus"></i> Create</button>
                        </a>
                    {% endif %}
                </div>
            </div>

            <table class="datatables display table table-hover" id="table-units" cellspacing="0">
                <thead>
                <tr>
                    <th>Compound units</th>
                    <th>Unit</th>
                    {% if can_edit %}
                        <th></th>{% endif %}
                </tr>
                </thead>
                <tbody class="rowlink" data-link="row">
                {% for cu in model.compoundunits.all %}
                    <tr>
                        <td>
                            <a href="{% url 'main:display' item_type='compoundunit' item_id=cu.id %}"></a>
                            <b>{{ cu.name }}</b> {{ cu.notes|linebreaksbr }}
                        </td>
                        <td>
                            {% for u in cu.units.all %}
                                {{ u }}<br>
                            {% endfor %}
                        </td>
                        {% if can_edit %}
                            <td class="rowlink-skip">
                                <a onclick="Unlink('compoundunits','{{ cu.id }}');">Unlink</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <form id="unlink_form" action="{% url 'main:link_remove' %}" method="POST" hidden>
        {% csrf_token %}
        <input type="text" name="unlink_item_type" id="unlink_item_type" value="">
        <input type="text" name="unlink_item_id" id="unlink_item_id" value="">
        <input type="text" name="unlink_related_name" id="unlink_related_name" value="">
        <input type="text" name="unlink_related_id" id="unlink_related_id" value="">
    </form>

    <form id="privacy_form" action="{% url 'main:set_privacy' %}" method='POST' hidden>
        {% csrf_token %}
        <input type="text" name="item_type" id="item_type" value="cellmodel">
        <input type="text" name="item_id" id="item_id" value="{{ model.id }}">
        <input type="text" name="privacy_level" id="privacy_level" value="">
    </form>

{% endblock content %}

{% block end_scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('#table-info_filter').css('display', 'none');
            $('#table-info_paginate').css('display', 'none');
        });

        function Unlink(related_name, related_id) {
            $('input[name="unlink_item_type"]').val("cellmodel");
            $('input[name="unlink_item_id"]').val("{{ model.id }}");
            $('input[name="unlink_related_name"]').val(related_name);
            $('input[name="unlink_related_id"]').val(related_id);
            $("form#unlink_form ").submit();
        }

        function SetPrivate() {
            $('input[name="privacy_level"]').val("private");
            $("form#privacy_form ").submit();
        }

        function SetPublic() {
            $('input[name="privacy_level"]').val("public");
            $("form#privacy_form ").submit();
        }
    </script>
{% endblock end_scripts %}


