{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Compound Units <b>{{ item.name }}</b>{% endblock title %}
{% block title_buttons %}
    {% if can_edit %}
        <a onclick="LoadModalData('Delete?', '{% url 'main:delete' item_type="compoundunit" item_id=item.id %}');"
           data-toggle="modal"
           data-target="#formModal"
           style="text-decoration: none;">
            <button class="btn btn-default pull-right"><i class="fa fa-trash"></i> Delete</button>
        </a>
    {% else %}
        <a onclick="LoadModalData('Send a copy to your library?',
                '{% url 'main:copy' item_type="compoundunit" item_id=item.id %}');"
           data-toggle="modal"
           data-target="#formModal"
           style="text-decoration:none;">
            <button class="btn btn-primary">
                <i class="fa fa-send"></i>&nbsp;&nbsp;Send to my library
            </button>
        </a>
    {% endif %}
{% endblock title_buttons %}

{% block todo %}
    <br>- Introduce markup for abbreviations/symbols (micro, ohms)
    <br>- Clarify whether multiplier is log or not ...?
    <br>- why doesn't the uploader own all compound units?
{% endblock todo %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Information</h3>
                </div>
                <div class="col-sm-6 button_bar" style="padding-top:15px;">
                    {% if can_edit %}
                        <a onclick="LoadModalData('Edit information',
                                '{% url 'main:edit_locals' item_type="compoundunit" item_id=item.id %}');"
                           data-toggle="modal"
                           data-target="#formModal"
                           style="text-decoration: none;">
                            <button class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> Edit information
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
            <table class="datatables display table">
                <tbody>
                <tr>
                    <td>Notes</td>
                    <td>
                        {% if item.is_standard %}<b>Built in units</b><br>{% endif %}
                        {% if item.notes %}<p>{{ item.notes|linebreaksbr }}</p>
                        {% else %}<p class="empty">No notes given</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Owner</td>
                    <td>
                        {% if item.owner %}<p>{{ item.owner|title }}</p>
                        {% else %}<p class="empty">None</p>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>

            <h3>Used by variables</h3>
            {% if item.variables.count %}
                <table class="datatables display table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Component</th>
                    </tr>
                    </thead>
                    <tbody class="rowlink" data-link="row">
                    {% for variable in item.variables.all %}
                        <tr>
                            <td>
                                <a href="{% url 'main:display' item_type='variable' item_id=variable.id %}"></a>
                                {{ variable.name }}</td>
                            <td>
                                {{ variable.component.name }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="empty">Not connected to any variables</div>
            {% endif %}

        </div>

        <div class="col-md-8 table-responsive">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Product of Units</h3>
                </div>
                {% if can_edit %}
                    <div class="col-sm-6 button_bar" style="padding-top:15px;">
                        <a onclick="LoadModalData('Create relationship to another unit',
                                '{% url 'main:create_unit' cu_id=item.id in_modal=True %}');"
                           data-toggle="modal"
                           data-target="#formModal"
                           style="text-decoration: none;">
                            <button class="btn btn-primary"><i class="fa fa-plus"></i> Add unit</button>
                        </a>
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <br>
                {% if formula.count %}
                    <div class="numerator"
                         style="font-family: 'Times New Roman'; font-size: x-large; font-style: italic; text-align: center;">
                        {% if multiplier %}(10<sup>{{ multiplier }}</sup>) {% endif %}
                        {% for f in formula %}{{ f|safe }}{% endfor %}
                        <br>
                    </div>
                {% else %}
                    <div class="numerator"
                         style="font-family: 'Times New Roman'; font-size: x-large; font-style: italic; text-align: center;">
                        {% if multiplier %}(10<sup>{{ multiplier }}</sup>) {% endif %}
                        {{ item.symbol|safe }}
                        <br>
                    </div>
                {% endif %}
            </div>

            {% if item.product_of.count %}
                <table class="datatables display table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Prefix</th>
                        <th>Multiplier</th>
                        <th>Base</th>
                        <th>Exponent</th>
                        {% if can_edit %}
                            <th></th>{% endif %}
                    </tr>
                    </thead>
                    <tbody class="rowlink" data-link="row">
                    {% for u in item.product_of.all %}
                        <tr>
                            <td>
                                <a href="{% url 'main:display' item_type='compoundunit' item_id=u.child_cu.id %}"></a>
                                <div style="font-family: 'Times New Roman'; font-size: large; font-style: italic; text-align: center;">
                                    {% if u.multiplier %}(10<sup>{{ u.multiplier }}</sup>) {% endif %}
                                    {% if u.prefix %}{{ u.prefix.symbol }}{% endif %}{% if u.child_cu %}
                                        {% if u.child_cu.symbol %}{{ u.child_cu.symbol }}{% endif %}{% endif %}
                                    {% if u.exponent != 1 %}<sup> {{ u.exponent }}</sup>{% endif %}
                                    <br>
                                </div>
                            </td>
                            <td>{{ u.prefix }}</td>
                            <td>{{ u.multiplier }}</td>
                            <td>{{ u.child_cu.name }}</td>
                            <td>{{ u.exponent }}</td>
                            {% if can_edit %}
                                <td class="rowlink-skip">

                                    <a onclick="LoadModalData('Edit unit factor','{% url 'main:edit_unit' item_id=u.id %}');"
                                       data-toggle="modal"
                                       data-target="#formModal">Edit</a>

                                    &nbsp;&nbsp;

                                    <a onclick="LoadModalData('Delete unit factor?','{% url 'main:delete' item_type='unit' item_id=u.id %}');"
                                       data-toggle="modal"
                                       data-target="#formModal">Remove</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="empty">
                    This item has no further base units.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}





