{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load foe_tags %}

{% block title %}{{ item_type }} <b>{{ item.name }}</b>{% endblock title %}

{% block todo %}{% endblock todo %}

{% block breadcrumbs %}
    {% for crumb_type, crumb in breadcrumbs %}
        <a href="{% url 'main:display' item_type=crumb_type item_id=crumb.id %}">
            {{ crumb }}
        </a> /
    {% endfor %}
{% endblock breadcrumbs %}

{% block tabs %}
    {{ block.super }}
    <ul class="nav nav-tabs">
        <li id="tab_information1" class="active"><a data-toggle="tab" href="#tab_information">Summary</a></li>
        {% if validity_tab %}
            <li><a id="tab_validity1" data-toggle="tab" href="#tab_validity">Validity and checking</a></li>
        {% endif %}
        {% if plot_tab %}
            <li><a id="tab_plot1" data-toggle="tab" href="#tab_plot">Plot equation</a></li>
        {% endif %}
        {% for field, obj_type, objs, title, template in data %}
            <li><a id="tab_{{ field }}1" data-toggle="tab" href="#tab_{{ field }}">{{ title }}</a></li>
        {% endfor %}
    </ul>
{% endblock tabs %}

{% block content %}
    <div class="tab-content">
        {% include summary_tab %}
        {% if validity_tab %}
            {% include validity_tab %}
        {% endif %}
        {% if plot_tab %}
            {% include plot_tab %}
        {% endif %}
        {% for field_name, obj_type, objs, title, template in data %}
            {% include template with field_name=field_name obj_type=obj_type objs=objs title=title %}
        {% endfor %}
    </div>

    <form id="unlink_form" action="{% url 'main:link_remove' %}" method="POST" hidden>
        {% csrf_token %}
        <input type="text" name="unlink_item_type" id="unlink_item_type" value="">
        <input type="text" name="unlink_item_id" id="unlink_item_id" value="">
        <input type="text" name="unlink_related_name" id="unlink_related_name" value="">
        <input type="text" name="unlink_related_id" id="unlink_related_id" value="">
    </form>
    <form id="privacy_form" action="{% url 'main:set_privacy' %}" method='POST' hidden>
        {% csrf_token %}
        <input type="text" name="item_type" id="item_type" value="">
        <input type="text" name="item_id" id="item_id" value="">
        <input type="text" name="privacy_level" id="privacy_level" value="">
    </form>
{% endblock content %}

{% block datatables %}{% endblock datatables %}


