{% extends "main/base.html" %}

{% block title %}{{ person.first_name }}'s home{% endblock title %}

{% block todo %}{% endblock todo %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h3>Objects you own</h3>
            <table class="datatables display table table-hover" id="table-connections">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="rowlink" data-link="row">
                {% for type, items in data %}
                    {% for item in items %}
                        <tr>
                            <td>
                                <a href="{% url 'main:display' item_type=type item_id=item.id %}"></a>
                                {{ type }}
                            </td>
                            <td>
                                <b>{{ item.name }}</b><br>
                                <p>{{ item.notes|linebreaks }}</p>
                            </td>
                            <td class="rowlink-skip">
                                <a onclick="LoadModalData('Delete?','{% url 'main:delete' item_type=type item_id=item.id %}');"
                                   data-toggle="modal"
                                   data-target="#formModal"
                                   style="text-decoration: none;">
                                    <button class="btn btn-default pull-right"><i class="fa fa-trash"></i> Delete
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock content %}