{% load crispy_forms_tags %}
{% load static %}
{% load foe_tags %}

<div id="tab_information" class="tab-pane fade in active">
    <div class="row">
        <div class="col-md-4">
            <div class="col-sm-6"><h3>Information</h3></div>
            <div class="col-sm-6 button_bar">
                <a onclick="LoadModalData('Edit local information','{% url 'main:edit_locals' item_type=item_type item_id=item.id %}');"
                   data-toggle="modal"
                   data-target="#formModal"
                   style="text-decoration: none;">
                    <button class="btn btn-default">
                        <i class="fa fa-pencil"></i> Edit locals
                    </button>
                </a>
            </div>

            <div class="col-sm-12">
                <table class="datatables display table">
                    <tbody>
                    <tr>
                        <td>Notes</td>
                        <td>
                            {% if item.notes %}{{ item.notes|linebreaksbr }}
                            {% else %}<span class="empty">No notes given</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Owner</td>
                        <td>
                            {% if item.owner %}{{ item.owner|title }}
                            {% else %}<span class="empty">None</span>
                            {% endif %}
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-md-8">
            <div class="col-sm-6"><h3>Contents</h3></div>
            <div class="col-sm-6 button_bar">

                <button id="validity_div" class="btn btn-secondary">
                    <span id="status_span"><b>Last checked: </b>{{ item.last_checked }}</span>
                </button>

                <button id="check_local_validity" class="btn btn-default">
                    <i class="fa fa-refresh"></i> Check validity
                </button>
            </div>

            <div class="col-sm-12">
                <table class="datatables display table">
                    <thead>
                    <th></th>
                    <th>Field</th>
                    <th>Value</th>
                    <th>Messages</th>
                    <th></th>
                    </thead>
                    <tbody class="rowlink" data-link="row">

                    {% for field, value, errors, validity in locals %}
                        <tr id="v_{{ field }}_row" class="validity_list_{{ validity }}">
                            <td>
                                {% if validity != None %}
                                    <a onclick="LoadModalData(
                                            'Edit {{ field }}',
                                            '{% url 'main:edit_field' item_type=item_type item_id=item.id item_field=field %}'
                                            );"
                                       data-toggle="modal"
                                       data-target="#formModal"></a>
                                {% endif %}
                                <span id="v_{{ field }}_icon" class="validity_icon_{{ validity }}"></span></td>
                            <td>{{ field }}</td>
                            <td>{{ value|safe }}</td>
                            <td>
                                <div id="v_{{ field }}_errors">
                                    {% for e in errors %}
                                        {{ e.hints|safe }}<br>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    {% for f, obj_type, obj_item, title in foreign_keys %}
                        <tr id="v_{{ f }}_row">
                            <td>
                                {% if obj_item is not None %}
                                    <a href="{% url 'main:display' item_type=obj_type item_id=obj_item.id %}"></a>
                                {% endif %}
                                <span id="v_{{ f }}_icon" class="validity_icon_waiting"></span></td>
                            <td>{{ title }}</td>
                            <td>{% getattribute item f %}</td>
                            <td>
                                <div id="v_{{ f }}_errors"></div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<form id="privacy_form" action="{% url 'main:set_privacy' %}" method='POST' hidden>
    {% csrf_token %}
    <input type="text" name="item_type" id="item_type" value="{{ item_type }}">
    <input type="text" name="item_id" id="item_id" value="{{ item.id }}">
    <input type="text" name="privacy_level" id="privacy_level" value="">
</form>


<script>

    $(document).ready(function () {

        $("#check_local_validity").click(function (e) {
            e.preventDefault();

            $('#validity_div').removeClass().addClass('btn btn-secondary');
            $('#status_span').html("<b>Checking now ... </b>");

            // Preventing multiple lines of errors on repressing the button
            $("div[id^=v_]").html("");

            $.ajax({
                url: "/validate/{{ item_type }}/{{ item.id }}",

                success: function (data) {

                    {#$("tr[id$=_row]").each(function () {#}
                    {#    $(this).removeClass().addClass('validity_list_None');#}
                    {# });#}

                    $.each(data['fields'], function (index, value) {

                        let field = value[0];
                        let errors = value[2];
                        let validity = value[3];

                        let error_div = $("#v_" + field + "_errors");
                        error_div.html("");

                        $("#v_" + field + "_icon").removeClass().addClass('validity_icon_' + validity);
                        $("#v_" + field + "_row").removeClass().addClass('validity_list_' + validity);

                        $.each(errors, function (index, error_string) {
                            let html = error_div.html();
                            error_div.html(html+error_string);
                        });
                    });
                }
            });
        });
    });

    $(document).ajaxStop(function () {
        let todo = $('.validity_list_False').length + $('.validity_list_false').length;
        if (todo === 0) {
            $("#validity_div").addClass('validity_banner_True');
            $('#status_span').text("Item is valid");
        } else {
            $("#validity_div").addClass('validity_banner_False');
            $('#status_span').text("Finished checking: " + todo + " issues");
        }
    });

    function SetPrivate() {
        $('input[name="privacy_level"]').val("private");
        $("form#privacy_form ").submit();
    }

    function SetPublic() {
        $('input[name="privacy_level"]').val("public");
        $("form#privacy_form ").submit();
    }
</script>



