<div id="tab_information" class="tab-pane fade in active">
    <div class="todo"> Use the new generator to translate mathml2 into python for running here using trinket iframe
    </div>
    <div class="col-sm-6 mathml">
        <div class="todo"> Make this editable</div>
        {{ item.math_ml|linebreaksbr }}
    </div>
    <div class="col-sm-6">
        <table class="datatables display table table-hover" id="table-variables"
               style="width:100%;">
            <thead>
            <th></th>
            <th>Name</th>
            <th>Units</th>
            </thead>
            <tbody class="rowlink" data-link="row">
            {% for obj in item.variables.all %}
                <tr class="validity_list_{{ obj.is_valid }}">
                    <td><span class="validity_icon_{{ obj.is_valid }}"></span></td>
                    <td>
                        <a href="{% url 'main:display' item_type='variable' item_id=obj.id %}"></a>
                        {{ obj.name }}
                    </td>
                    <td class="symbol">{{ obj.compoundunit.symbol }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>