{% load crispy_forms_tags %}
{% load static %}
{% load foe_tags %}
<div id="tab_information" class="tab-pane fade in active">
    <br>
    <div class="col-sm-6">
        <table class="datatables display table">
            <thead>
            <th></th>
            <th>Field</th>
            <th>Value</th>
            <th>Messages</th>
            <th>Edit</th>
            </thead>
            <tbody class="rowlink" data-link="row">

            {% for field, value, errors, validity in locals %}
                <tr id="v_{{ field }}_row" class="validity_list_{{ validity }}">
                    <td>
                        {% if validity != None %}
                            <a onclick="LoadModalData(
                                    'Edit {{ field }}',
                                    '{% url 'main:edit_field' item_type=item_type item_id=item.id item_field=field %}'
                                    );"
                               data-toggle="modal"
                               data-target="#formModal"></a>
                        {% endif %}
                        <span id="v_{{ field }}_icon" class="validity_icon_{{ validity }}"></span></td>
                    <td>{{ field }}</td>
                    <td>{{ value|safe }}</td>
                    <td>
                        <div id="v_{{ field }}_errors">
                            {% for e in errors %}
                                {{ e.hints|safe }}<br>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="rowlink-skip">
                        <a onclick="LoadModalData(
                                'Edit {{ field }}',
                                '{% url 'main:edit_field' item_type=item_type item_id=item.id item_field=field %}'
                                );"
                           data-toggle="modal"
                           data-target="#formModal">
                            Edit
                        </a>
                    </td>
                </tr>
            {% endfor %}

            {% for f, obj_type, obj_item, title, validity in foreign_keys %}
                <tr id="v_{{ f }}_row" class="validity_list_{{ validity }}">
                    <td>
                        {% if obj_item is not None %}
                            <a href="{% url 'main:display' item_type=obj_type item_id=obj_item.id %}"></a>
                        {% endif %}
                        <span id="v_{{ f }}_icon" class="validity_icon_{{ validity }}"></span>
                    </td>
                    <td>{{ title }}</td>
                    <td>{% getattribute item f %}</td>
                    <td>
                        <div id="v_{{ f }}_errors"></div>
                    </td>
                    <td class="rowlink-skip">
                        <a onclick="LoadModalData(
                                'Edit {{ f }}',
                                '{% url 'main:edit_field' item_type=item_type item_id=item.id item_field=f %}'
                                );"
                           data-toggle="modal"
                           data-target="#formModal">
                            Edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
    <div class="col-sm-6">
        <div class="todo">
            Render mathml here as proper math<br><br>
        </div>
        <table class="datatables display table table-hover" id="table-variables"
               style="width:100%;">
            <thead>
            <th></th>
            <th>Name</th>
            <th>Units</th>
            </thead>
            <tbody class="rowlink" data-link="row">
            {% for obj in item.variables.all %}
                <tr class="validity_list_{{ obj.is_valid }}">
                    <td><span class="validity_icon_{{ obj.is_valid }}"></span></td>
                    <td>
                        <a href="{% url 'main:display' item_type='variable' item_id=obj.id %}"></a>
                        {{ obj.name }}
                    </td>
                    <td class="symbol">{{ obj.compoundunit.symbol }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="button_bar">
            <a onclick="LoadModalData(
                    'Edit {{ field }}',
                    '{% url 'main:edit_field' item_type='math' item_id=item.id item_field='math_ml' %}'
                    );"
               data-toggle="modal"
               data-target="#formModal">
                <button class="btn btn-default">Edit MathML</button>
            </a>
        </div>
        <div class="mathml">{{ item.math_ml|linebreaksbr }}</div>
    </div>
</div>