<div id="tab_information" class="tab-pane fade in active">
    <div class="todo">
        Use the new generator to translate mathml2 into python for running here using trinket iframe
    </div>
    <div class="col-sm-6">
        <br>
        <div class="mathml">
            {{ item.math_ml|linebreaksbr }}
        </div>
    </div>
    <div class="col-sm-6">
        <iframe id="formModal_iframe" src="https://trinket.io/embed/python3/055c60f8a0" style="zoom:0.60;" width="99.6%" height="800px;">
            <h3>Please wait ... loading data ...</h3>
        </iframe>
    </div>
</div>