body {
    color: #666666;
    font-family: Arial;
}

h1, h2, h3, h4 {
    /*color: #2f557b;;*/
    color: #600000;
}


/*.btn-primary {*/
/*    background-color: #888888;*/
/*    border: none;*/
/*    color:white;*/
/*}*/

/*.btn-primary:hover {*/
/*    background-color: #666666;*/
/*    border: none;*/

/*}*/

/*.btn-default {*/
/*    background-color: #888888;*/
/*    border: none;*/
/*    color:white;*/
/*}*/

/*.btn-default:hover {*/
/*    background-color: #666666;*/
/*    border: none;*/
/*}*/

iframe {
    border: 0;
}

.todo {
    background: #bcc2c8;
    color: #600000;
    padding: 7px;
}

.todo::before {
    float: left;
    content: "TODO: ";
    font-weight: bold;
}

.container-fluid:empty {
    display: none;
}

.info {
    background-color: #e2e8ee;
    color: #7c95b4;
    font-style: italic;
    padding: 7px;
    radius: 2px;
    display: none;
}

.privacy-private {
    color: #333333;
    position: relative;
    border: none;
    padding: 10px 10px 10px 32px;
}

.privacy-public {
    color: #333333;
    position: relative;
    border: none;
    padding: 10px 10px 10px 32px;
}

.privacy-private:before {
    font-style: normal;
    content: "\f21b";
    font-family: FontAwesome;
    left: 10px;
    top: 7px;
    position: absolute;
    font-size: large;
    color: #333;
}

.privacy-public:before {
    font-style: normal;
    content: "\f0ac";
    font-family: FontAwesome;
    left: 10px;
    top: 7px;
    position: absolute;
    font-size: large;
    color: #333;
}

.button_bar {
    padding-top: 15px;
    text-align: right;
}

.empty {
    font-style: italic;
    color: #cccccc;
    margin-bottom: 0px;
}

.error_messages {
    color: #c4afc8;
    background-color: darkred;
    padding: 20px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.denominator {
    font-family: "Times New Roman";
    font-style: italic;
    font-size: larger;
    text-align: center;
}

.numerator {
    font-family: "Times New Roman";
    font-style: italic;
    font-size: larger;
    text-align: center;
}

.success {
    background-color: #dbf1cf;
    color: darkgreen;
    padding: 20px;
}

.warning {
    background-color: #fcffbe;
    color: saddlebrown;
    padding: 20px;
}

.error {
    background-color: #ecebe8; /*papayawhip*/
    color: darkred;
    padding: 20px;
}


.invalid_item {
    color:darkred;
    background-color: #ecebe8;
}

.valid_item {
    background-color: #dbf0cb;
    color: #12490f;
}


/* ----------------- NAVIGATION BAR STUFF -------------------- */

.nav-style {
    background-color: #600000;

}

.navbar-default {
    background-color: #600000;
    border: 0;
    padding-right: 15px;
}

/* Title */
.navbar-default .navbar-brand {
    color: #bcc2c8;
    height: 51px;
    padding: 3px 10px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #bcc2c8;
}

/* Link */
.navbar-default .navbar-nav > li > a {
    color: #bcc2c8;
}

.navbar-default .dropdown-menu {
    color: #146080;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ccc;
    background-color: #000;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

/* ---------------------- DATATABLES STYLING ---------------------- */
td.details-control {
    text-align: center;
    color: #600000;
    cursor: pointer;
}

tr.shown td.details-control {
    text-align: center;
    color: #094914;
}

.datatables_empty {
    font-style: italic;
    color: #cccccc;
    margin-bottom: 0px;
}